.page-content {
	position: relative;
	display: flex;
}

.page-footer {
	min-height: 100vh;
}

.sidebar {
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.main-sidebar-outer { /*so the sidebar takes up space. remove this item to prevent that*/
	display: inline-block;
}

.main-sidebar {
	height: inherit;
	padding-bottom: inherit;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.2);
	height: 500px;
	padding-bottom: calc(100vh - 500px);
}

.sidebar-item {
	width: 100px;
	height: 100px;
	line-height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
}





.sections {
	display: inline-block;
	flex-grow: 1;

}

.sections:before {

}

.section {
	position: relative;
	display: block;
	/*width: 100vw;*/
	/*height: 100vh;*/
}

.section-title {
	position: absolute;
	right: 0;
	font-size: 3em;
}

.section-title.above-scroll {
	position: absolute;
	bottom: 0;
}

.section-title.scroll {
	position: fixed;
	bottom: 0;
}

.section-title.below-scroll {
	position: absolute;
	top: 0;
}

.main-sidebar.above-scroll {
	position: absolute;
	bottom: 0;
}

.main-sidebar.scroll {
	position: fixed;
	top: 0;
}

.main-sidebar.below-scroll {
	position: absolute;
	top: 0;
}

.section.one { /*leading with numbers isn't valid*/
	background-color: rgba(255, 100, 100, 1);
	height: 300vh;
}

.section.two {
	background-color: rgba(100, 255, 100, 1);
	height: 20vh;
}

.section.three {
	background-color: rgba(100, 100, 255, 1);
	height: 50vh;
}



@media (min-width: 500px) {
}

@media (min-width: 700px) {
	
}
@media (min-width: 900px) {

}

@media (min-width: 1100px) {

}